.stories {
    display: flex;
    justify-content: center;

    .center {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
        max-width: 1200px;
        
    }

}