header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1100px;
    padding: 0 2%;

}

.header__logadoInfo {
    display: flex;
    align-items: center;
    column-gap: 10px;

    a {
        background-color: #0095f6;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        padding: 3px 10px;
        font-size: 14px;
    }

}

.header__loginForm {
    display: flex;
    column-gap: 10px;

    form {
        display: flex;
        align-items: center;
        column-gap: 5px;

        input {
            width: 200px;
            height: 20px;
            outline-style: none;
        }

        button {
            background-color: #0095f6;
            color: white;
            border-style: none;
            border-radius: 8px;
            padding: 0 10px;
            height: 20px;
            font-size: 14px;
            cursor: pointer;
        }
    }

}

.btn__criarConta {
    background-color: #0095f6;
    border-style: none;
    border-radius: 8px;
    padding: 0 10px;
    
    a {
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
}

.modalCriarConta, .modalUpload {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.formCriarConta, .formUpload {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;

    input {
        width: 100%;
        height: 30px;
        padding: 0 7px;
        margin-top: 10px;
        outline-style: none;
        border: 1px solid #ccc;
    }

    button {
        background-color: #0095f6;
        color: white;
        height: 30px;
        border-style: none;
        width: 100%;
        cursor: pointer;
    }

}

.closeModalCriar, .closeModalUpload {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    background-color: #0095f6;
    color: white;
    transition: 0.4s;
    
    &:hover {
        color: red;
        font-weight: bold;
        cursor: pointer;
    }

}